<% provide(:title, '联系方式') %>
<div id="question">
	<h1>联系方式</h1>
	
	<p>微信: <span class="red-sketch-underline">wang-shuguang321</span>
	</p>

    <p>邮箱: <span class="red-sketch-underline">wangshuguang321@gmail.com</span>
	</p> 
	
</div>

