<% provide(:title, "帮助") %>

<div id="question">
	<h1>这是干嘛的?</h1>
	<p> 网站的初步目标是为校内同学建立一个二手物品信息交流平台，<mark><strong>将原本碎片化的信息集中起来</strong></mark>，节省大家的时间和精力。
	</p>
</div>

<div id="question">
<h1>这玩意靠谱吗?</h1>
<p>说实话，不太靠谱。本人半道出家，基本上现学现用，不能保证可靠性。</p>
<p>大家尝试使用时，一定要注意保护好个人隐私。</p>
</div>


<div id="question">
<h1>有什么优点?</h1>

<p>如果这个平台能像我们吹的那样发展的话，将拥有以下几大优点：</p>
 <ul style="list-style-type:square;">
  <li><strong>没有广告</strong> (当然没有)</li>
  <li><strong>只面向校内师生</strong> (校外也没人用)</li>
  <li><strong>或者当个树洞，发发牢骚</strong> (没人知道你是谁)</li>
  <li><strong>促进以可持续发展为理念的大学建设</strong> (结尾点题，加10分)</li>
</ul> 
</div>
