<h1>欢迎来到同宝</h1>

<p>你好, <%= @user.name %>,</p>

<p>你的电子邮件是 <%= @user.email =%></p>

<p>
感谢您的支持。
</p>
	
<h1>下面是激活的链接</h1>

<%= link_to "账号激活链接", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>										

<p>have fun! :)</p>

