<footer class="footer">
  <small>
    本站由起晚贪黑的<a href="https://weibo.com/u/6033346650">王二嘎子</a>搭建。
  </small>
  <nav>
    <ul>
      <li><%= link_to "关于",   about_path%></li> 
      <li><%= link_to "联系", contact_path%></li> 
    </ul>
  </nav>
</footer>
